<div class="navbar-container">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="/auth/login">Log In</a></li>
                <li><a href="/auth/register">Register</a></li>
                <li class="menu-text" onclick="window.location.href = '/';">Home</li>
            </ul>

        </div>
    </div>
</div>