<li>
<div class="grid-x line-container">
    <div class="cell line-item medium-4 small-12 align-self-middle">
        {{companyCode}} 
    </div>
    <div class="cell line-item medium-4 small-6 align-self-middle">
        {{colorCode}} 
    </div>
    <div class="cell line-item medium-4 small-12 align-self-middle">
        Quantity: {{weight}} 
    </div>
</div>
</li>