<div class="banner-container">
    <div class="banner-text">
        <h1>Choose company code:</h1>
    </div>
</div>

<div class="button-container">
    <div class="button expanded" id="add-new-reichenbach" data-open="add-new-modal-reichenbach">Reichenbach</div>
    <div class="button expanded" id="add-new-kugler" data-open="add-new-modal-kugler">Kugler</div>
    <div class="button expanded" id="add-new-gaffer" data-open="add-new-modal-gaffer">Gaffer</div>
    <div class="button expanded" id="add-new-zimmerman" data-open="add-new-modal-zimmerman">Zimmerman</div>
</div>
