<div class="banner-container">
    <div class="banner-text">
        <h1>Choose company code:</h1>
    </div>
</div>

<div class="button-container">
    <div class="button expanded" id="add-to-reichenbach" data-open="add-modal-reichenbach">Reichenbach</div>
    <div class="button expanded" id="add-to-kugler" data-open="add-modal-kugler">Kugler</div>
    <div class="button expanded" id="add-to-gaffer" data-open="add-modal-gaffer">Gaffer</div>
    <div class="button expanded" id="add-to-zimmerman" data-open="add-modal-zimmerman">Zimmerman</div>
</div>

<div class="reveal" id="add-modal-reichenbach" data-reveal>
    <div class="form-container">
        <form>
            <h3>ADD TO REICHENBACH</h3>
            <div class="grid-x grid-padding-x">
                <fieldset class="large-5 cell">
                    <legend>Choose one:</legend>
                    <input type="radio" name="bar" value="Bar" id="bar" required><label for="bar">Bar</label>
                    <input type="radio" name="frit" value="Frit" id="frit"><label for="frit">Frit</label>
                </fieldset>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="small-3 cell">
                <label for="right-label" class="text-right">Color Code</label>
                </div>
                <div class="small-9 cell">
                <input type="text" id="right-label">
                </div>
                <div class="small-3 cell">
                <label for="right-label" class="text-right">Weight</label>
                </div>
                <div class="small-9 cell">
                <input type="text" id="right-label">
                </div>
                <div class="button expanded" id="submit">Submit</div>
            </div>
        </form>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="reveal" id="add-modal-kugler" data-reveal>
    <div class="form-container">
        <form>
            <h3>ADD TO KUGLER</h3>
            <div class="grid-x grid-padding-x">
                <fieldset class="large-5 cell">
                    <legend>Choose one:</legend>
                    <input type="radio" name="bar" value="Bar" id="bar" required><label for="bar">Bar</label>
                    <input type="radio" name="frit" value="Frit" id="frit"><label for="frit">Frit</label>
                </fieldset>
            <div>
            <div class="grid-x grid-padding-x">
                <div class="small-3 cell">
                <label for="right-label" class="text-right">Color Code</label>
                </div>
                <div class="small-9 cell">
                <input type="text" id="right-label">
                </div>
                <div class="small-3 cell">
                <label for="right-label" class="text-right">Weight</label>
                </div>
                <div class="small-9 cell">
                <input type="text" id="right-label">
                </div>
                <div class="button expanded" id="submit">Submit</div>
            </div>
        </form>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="reveal" id="add-modal-gaffer" data-reveal>
    <div class="form-container">
        <form>
            <h3>ADD TO GAFFER</h3>
            <div class="grid-x grid-padding-x">
                <fieldset class="large-5 cell">
                    <legend>Choose one:</legend>
                    <input type="radio" name="bar" value="Bar" id="bar" required><label for="bar">Bar</label>
                    <input type="radio" name="frit" value="Frit" id="frit"><label for="frit">Frit</label>
                </fieldset>
            <div>
            <div class="grid-x grid-padding-x">
                <div class="small-3 cell">
                <label for="right-label" class="text-right">Color Code</label>
                </div>
                <div class="small-9 cell">
                <input type="text" id="right-label">
                </div>
                <div class="small-3 cell">
                <label for="right-label" class="text-right">Weight</label>
                </div>
                <div class="small-9 cell">
                <input type="text" id="right-label">
                </div>
                <div class="button expanded" id="submit">Submit</div>
            </div>
        </form>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="reveal" id="add-modal-zimmerman" data-reveal>
    <div class="form-container">
        <form>
            <h3>ADD TO ZIMMERMAN</h3>
            <div class="grid-x grid-padding-x">
                <fieldset class="large-5 cell">
                    <legend>Choose one:</legend>
                    <input type="radio" name="bar" value="Bar" id="bar" required><label for="bar">Bar</label>
                    <input type="radio" name="frit" value="Frit" id="frit"><label for="frit">Frit</label>
                </fieldset>
            <div>
            <div class="grid-x grid-padding-x">
                <div class="small-3 cell">
                <label for="right-label" class="text-right">Color Code</label>
                </div>
                <div class="small-9 cell">
                <input type="text" id="right-label">
                </div>
                <div class="small-3 cell">
                <label for="right-label" class="text-right">Weight</label>
                </div>
                <div class="small-9 cell">
                <input type="text" id="right-label">
                </div>
                <div class="button expanded" id="submit">Submit</div>
            </div>
        </form>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
    </button>
</div>