{{!-- {{#if isLoggedIn}}
<h1>{{user.username}}</h1>
{{/if}} --}}

{{>navbar}}

<div class="container">
  <div class="title-container">
    <h1>COLOR BAR INVENTORY</h1>
  </div>

      <a href="#" class="title">
          <div class="button cell-small-12" onclick="window.location.href = '/bar/reichenbach';">
              REICHENBACH
          </div>
          <div class="button cell-small-12" onclick="window.location.href = '/bar/kugler';">
              KUGLER
          </div>
          <div class="button cell-small-12" onclick="window.location.href = '/bar/gaffer';">
              GAFFER
          </div>
          <div class="button cell-small-12" onclick="window.location.href = '/bar/zimmerman';">
              ZIMMERMAN
          </div>
          
      </a>
      <div class="cell small-12" id="reichenbachBarDataHolder">
        <ul style="list-style: none;">
          {{#each bar}}
              {{>colorListItem}}
          {{/each}}
        </ul>
      </div>        
</div>