<div class="banner-container">
    <div class="banner-text">Select to create records</div>
</div>
<div class="update-container">
    <div class="operations-container">
        <div class="button-title"><h3>Reichenbach</h3></div>
        <div class="button-container">
            <div class="button" id="create-new-reichenbach-bar" href="/create-new-reichenbach-bar">Bar</div>
            <div class="button" id="reichenbach-frit">Frit</div>
        </div>
    </div>
    <div class="operations-container">
        <div class="button-title"><h3>Kugler</h3></div>
        <div class="button-container">
            <div class="button" id="kugler-bar">Bar</div>
            <div class="button" id="kugler-frit">Frit</div>
        </div>
    </div>
    <div class="operations-container">
        <div class="button-title"><h3>Gaffer</h3></div>
        <div class="button-container">
            <div class="button" id="gaffer-bar">Bar</div>
            <div class="button" id="gaffer-frit">Frit</div>
        </div>
    </div>
    <div class="operations-container">
        <div class="button-title"><h3>Zimmerman</h3></div>
        <div class="button-container">
            <div class="button" id="zimmerman-bar">Bar</div>
            <div class="button" id="zimmerman-frit">Frit</div>
        </div>
    </div>
</div>