<div class="banner-container">
    <div class="banner-text">Select to create new records</div>
</div>
<div class="update-container">
    <div class="operations-container">
        <div class="button-title">Reichenbach</div>
        <div class="button-container">
            <div class="button">Bar</div>
            <div class="button">Frit</div>
        </div>
    </div>
    <div class="operations-container">
        <div class="button-title">Kugler</div>
        <div class="button-container">
            <div class="button">Bar</div>
            <div class="button">Frit</div>
        </div>
    </div>
    <div class="operations-container">
        <div class="button-title">Gaffer</div>
        <div class="button-container">
            <div class="button">Bar</div>
            <div class="button">Frit</div>
        </div>
    </div>
    <div class="operations-container">
        <div class="button-title">Zimmerman</div>
        <div class="button-container">
            <div class="button">Bar</div>
            <div class="button">Frit</div>
        </div>
    </div>
</div>