<div class="banner-container">
    <div class="banner-text">Please select your operation</div>
</div>
<div class="operations-container">
    <div class="button-title">Operation</div>
    <div class="button-container">
        <div class="button" id="update" href="/update">Update Existing Record</div>
        <div class="button" id="create-new" href="/create-new">Add New Record</div>
        <div class="button">Other</div>
    </div>
</div>