<div class="banner-container">
    <div class="banner-text">
        <h1>Choose company code:</h1>
    </div>
</div>

<div class="button-container">
    <div class="button expanded" id="delete-from-reichenbach" data-open="delete-modal-reichenbach">Reichenbach</div>
    <div class="button expanded" id="delete-from-kugler" data-open="delete-modal-kugler">Kugler</div>
    <div class="button expanded" id="delete-from-gaffer" data-open="delete-modal-gaffer">Gaffer</div>
    <div class="button expanded" id="delete-from-zimmerman" data-open="delete-modal-zimmerman">Zimmerman</div>
</div>
