<div class="banner-container">
    <div class="banner-text">
        <h1>RAW MATERIALS INVENTORY</h1>
    </div>
</div>

<div class="button-container">
    <div class="button expanded" id="add-button">Add to existing color</div>
    <div class="button expanded" id="remove-button">Remove from existing color</div>
    <div class="button expanded" id="add-new-color">Add new color</div>
    <div class="button expanded" id="delete">Remove color from table</div>
    <div class="button expanded" id="viewtotals">View totals</div>
</div>