<form action="login" method="post" class="log-in-form">
    <h4 class="text-center">Log in with your email account</h4>
    <label>Email
        <input type="text" name="loginUsername" placeholder="somebody@example.com">
    </label>
    <label>Password
        <input type="current-password" name="loginPassword" placeholder="Password">
    </label>
    <input id="login-show-password" type="checkbox"><label for="show-password">Show password</label>
    <p><input type="submit" class="button expanded" id="loginEnter" value="Log in"></input></p>
    <p class="text-center"><a href="#">Forgot your password?</a></p>
</form>

<hr>

<form action="/register" method="post" class="sign-up">
    <h4 class="text-center">Register</h4>
    <label>Name
        <input type="text" name="registerUsername" placeholder="John Smith">
    </label>
    <label>Email
        <input type="text" name="registerEmail" placeholder="somebody@example.com">
    </label>
    <label>Password
        <input type="current-password" name="registerPassword" placeholder="Password">
    </label>
    <input id="register-show-password" type="checkbox"><label for="show-password">Show password</label>
    <p><input type="submit" class="button expanded" id="registerEnter" value="Register"></input></p>
    <p class="text-center"><a href="#">Forgot your password?</a></p>
</form>
