<form action="/login" method="post" class="log-in-form">
    <div class="form">
        <h4>LOG IN</h4>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="submit" class="button expanded" id="loginEnter" value="Log in"></input>
    </div>
</form>