<form action="/api/register" method="post" class="sign-up">
    <h4 class="text-center">Register</h4>
    <label>Name
        <input type="text" name="registerUsername" placeholder="John Smith">
    </label>
    <label>Email
        <input type="text" name="registerEmail" placeholder="somebody@example.com">
    </label>
    <label>Password
        <input type="password" name="registerPassword" placeholder="Password">
    </label>
    <input id="register-show-password" type="checkbox"><label for="show-password">Show password</label>
    <p><input type="submit" class="button expanded" id="registerEnter" value="Register"></input></p>
    <p class="text-center"><a href="#">Forgot your password?</a></p>
</form>