<div class="banner-container">
    <div class="form-container">
        <form id="new-reichenbach-bar-form" action="">
            <label for=""></label>
            Color Code:
            <input name="color-code" type="text" id="colorCode">
            Weight In:
            <input name="weight-in" type="text" id="weightIn">
            <input type="submit" value="Submit" id="new-reichenbach-bar">
        </form>
    </div>
</div>
