<div class="banner-container">
    <div class="form-container">
        <form action="">
            <label for=""></label>
            Color Code:
            <input name="color-code" type="text">
            Weight In:
            <input name="weight-in" type="text">
            <input type="submit" value="Submit">
        </form>
    </div>
