{{>navbar}}

<div class="container">
  <div class="title-container">
    <h1>REPORTS</h1>
  </div>

      <a href="#" class="title">
          <div class="button cell-small-12" onclick="window.location.href = '/reports/monthly';">
              PAST MONTH
          </div>
          <div class="button cell-small-12" disabled="true">
              PAST QUARTER
          </div>
          <div class="button cell-small-12" disabled="true">
              CALENDAR YEAR
          </div>
          
      </a>

      <div class="cell small-12 table">
        <ul style="list-style: none;">
          {{#each reports}}
              {{>reportListItem}}
          {{/each}}
        </ul>
      </div>
       
</div>