{{>navbar}}

<div class="container">
  <div class="title-container">
    <h1>REPORTS</h1>
  </div>

      <a href="#" class="title">
          <div class="button cell-small-12" disabled="true">
              PAST MONTH
          </div>
          <div class="button cell-small-12" disabled="true">
              PAST QUARTER
          </div>
          <div class="button cell-small-12" disabled="true">
              CALENDAR YEAR
          </div>
          
      </a>
       
</div>