<div class="banner-container">
    <div class="banner-text">
        <h1>Choose company code:</h1>
    </div>
</div>

<div class="button-container">
    <div class="button expanded" id="total-reichenbach" data-open="total-reichenbach">Reichenbach</div>
    <div class="button expanded" id="total-kugler" data-open="total-kugler">Kugler</div>
    <div class="button expanded" id="total-gaffer" data-open="total-gaffer">Gaffer</div>
    <div class="button expanded" id="total-zimmerman" data-open="total-zimmerman">Zimmerman</div>
    <div class="button expanded" id="total-all" data-open="total-all">All Companies</div>
</div>